{% extends "template.njk" %}

<!-- author: XiaoQian Huang xhuang8@mail.sfsu.edu -->
{% block title %}Account{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script src="/static/js/account.js"></script>
    <script>
        message
    </script>
{% endblock %}

{% block container %}
    <div class="container">

        <div class="row">
            <h1 class="text-capitalize"><strong>welcome <a href="#" class="text-muted text-capitalize" id="_user">user</a></strong></h1>
        </div>

        <br>

        <div class="row">
            <div class="col col-md-4 mx-auto text-left">
                <h4 class="text-capitalize"><em>your items for sale:</em></h4>
            </div>

            <br>

            <div class="col col-md-4 mx-auto text-left">
                <h4 class="text-capitalize"><em>message:</em></h4>
            </div>
        </div>


        <div class="row">
                    <div class="col col-md-4 mx-auto">

                        <div class="text-right">
                            <a href="#"><img src="#" class="account-img" id="post_image"></a>
                        </div>

                        <div class="text-right">
                            <h6 class="text-capitalize" id="post_title"><a href="#">product name</a></h6>
                        </div>

                        <div class="text-right" id="price">
                            <p>$--</p>
                        </div>

            </div>


            <div class="col col-md-4 mx-auto">
                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>

                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>

                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col col-md-4 mx-auto">

                <div class="text-right">
                    <a href="#"><img src="#" class="account-img" id="post_img"></a>
                </div>

                <div class="text-right">
                    <h6 class="text-capitalize"><a href="#">product name</a></h6>
                </div>

                <div class="text-right">
                    <p>$--</p>
                </div>

            </div>


            <div class="col col-md-4 mx-auto">
                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>

                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>

                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col col-md-4 mx-auto">

                <div class="text-right">
                    <a href="#"><img src="#" class="account-img" id="post_img"></a>
                </div>

                <div class="text-right">
                    <h6 class="text-capitalize"><a href="#">product name</a></h6>
                </div>

                <div class="text-right">
                    <p>$--</p>
                </div>

            </div>


            <div class="col col-md-4 mx-auto">
                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>

                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>

                <div>
                    <div class="text-left message"><h5>some messages here...</h5></div>
                    <div class="text-left message"><h6>Message from: <a href="#" class="text-muted text-capitalize" id="_user">user</a></h6></div>
                    <div class="text-left message"><h6>Time: <a href="#" class="text-muted text-capitalize">12 am</a></h6></div>
                </div>
            </div>

        </div>

        <br>




    </div>
{% endblock %}
