{% extends "template.njk" %}

<!-- author: XiaoQian Huang xhuang8@mail.sfsu.edu -->
{% block title %}Account{% endblock %}

{% block container %}
    <div class="container">

        <br>

        <div class="row">
            <div class="col col-md-4 mx-auto text-left">
                <p class="text-capitalize"><em>your items for sale:</em></p>
            </div>

            <div class="col col-md-4 mx-auto text-left">
                <p class="text-capitalize"><em>mail:</em></p>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4 mx-auto text-center">
                <a href="#"><img src="/images/accounts/iPhone%20xs.jpg" class="post-img w-100"></a>
            </div>

            <div class="col col-md-4 mx-auto text-center">
                <a href="#"><img src="/images/accounts/mail.jpg" class="post-img w-100"></a>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col col-md-4 mx-auto text-left">
                <p class="text-capitalize"><em><span class="glyphicon glyphicon-bookmark"></span>bookmark:</em></p>
            </div>

            <div class="col col-md-4 mx-auto text-left">
                <p class="text-capitalize"><em>your profile:</em></p>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4 mx-auto text-center">
                <a href="#"><img src="/images/accounts/bookmarks.png" class="post-img w-100"></a>
            </div>

            <div class="col col-md-4 mx-auto text-center">
                <a href="#"><img src="/images/accounts/profile.png" class="post-img w-100"></a>
            </div>
        </div>


    </div>
{% endblock %}
