{% extends "template.njk" %}


{% block title %}CreatePost{% endblock %}

{% block container %}
    <div class="createPostContainer">

        <div class="d-flex">

            <div class="m-auto">

                <form method="post" action="/api/post/create" enctype="multipart/form-data">

                    <!-- "CREATE POST" -->
                    <div class="form-group">
                        <h2 class="login-header">CREATE POST:</h2>
                    </div>

                    <!-- "Title Input" -->
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title">
                    </div>

                    <!-- "Price Input" -->
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">$</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <!-- "Category Input" -->
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Options</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value="books">Books</option>
                                <option value="clothing">Clothing</option>
                                <option value="electronics">Electronics</option>
                                <option value="furniture">Furniture</option>
                            </select>
                        </div>
                    </div>


                    <!-- "Condition Input" -->
                    <div class="form-group">
                        <label for="category">Condition:</label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Options</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value="new">New</option>
                                <option value="Great">Great</option>
                                <option value="okay">Okay</option>
                                <option value="bad">Bad</option>
                            </select>
                        </div>
                    </div>

                    <!-- Description Box -->
                    <div class="form-group">
                        <label for="exampleTextarea">Description:</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>

                    <!-- Picture Input -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="files">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>

                    <!-- Warning box -->
                    <div class="alert alert-danger">
                        <strong>NOTE!</strong> Please allow for up to 24 hours for the post to be approved!
                    </div>

                    <!-- Buttons -->
                    <div  class="center-block text-center">
                        <button type="submit" class="btn btn-danger">Cancel</button>
                        <button type="submit" class="btn btn-success">Post</button>
                    </div>





                </form>
            </div>

    </div>
{% endblock %}