{% extends "template.njk" %}

<!-- author: XiaoQian Huang xhuang8@mail.sfsu.edu -->
{% block title %}Help{% endblock %}

{% block container %}
<div class="container">

    <br>

    <div class="row align-items-center">
        <div class="col col-md-8 mx-auto text-left">
            <p><strong>TOP 4 FREQUENTLY ASKED QUESTIONS</strong></p>
        </div>
    </div>

    <br>

    <div class="row align-items-center">
        <div class="col col-md-8 mx-auto text-left">
            <div class="card bg-light text-dark">
                <div class="card-body text-left"><strong>Can I request for a return?</strong></div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col col-md-8 mx-auto text-left">
            <p class="text-muted"><em>All item(s) purchased online can be returned by submitting
                a Return Request via the online store, within 30 days from receipt date.
            If you have opted for guest checkout, please cantact us
                    at xhuang8@mail.sfsu.edu with the email subject: order number.</em></p>
        </div>
    </div>

    <br>

    <div class="row align-items-center">
        <div class="col col-md-8 mx-auto text-left">
            <div class="card bg-light text-dark">
                <div class="card-body text-left"><strong>Q/A?</strong></div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col col-md-8 mx-auto text-left">
            <p class="text-muted"><em>Q: I have yet to receive my package, what should I do?</em></p>
            <p class="text-muted"><em>A: If you did not receive your package after the expected delivery date, please contact us.</em></p>
            <p class="text-muted"><em>Q: Can I amend my order?</em></p>
            <p class="text-muted"><em>A: No, we aren't able to amend an order once it has been placed.</em></p>
        </div>
    </div>

    <br>

    <div class="row align-items-center">
        <div class="col col-md-8 mx-auto text-center">
            <div class="card bg-light text-dark">
                <div class="btn w-100 text-left text-dark">
                    <a href="#" class="text-capitalize">contact us</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col col-md-8 mx-auto text-left">
            <p class="text-muted"><em>Question: The item I received was broken, what do I do now?</em></p>
        </div>
    </div>


</div>
{% endblock %}