{% extends "template.njk" %}

{% block css %}

{% endblock %}
{% block js %}
    <script>
      $('.container').scroll(function () {
        $(this).css({ 'cursor': 'pointer' });
      });
    </script>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row mt">
            <div class="col">
                <p><b><font size="6"> Welcome to <mark><ins>Gator Trader!</ins></mark></font> </b><p>
                				<pre>
                				<b>You can buy and sell items here that may interest you as a SFSU Student.
                				You will find anything from used textbooks to furniture you may need for your dorm.
                				Check out our category section to topics that may relate to you.</b>
                				</pre>
            </div>
        </div>
        <div class="row mt">
            <div class="col">
                <nav class="navbar navbar-dark bg-dark">
                    <span class="navbar-brand mb-0 h1">Recently Added</span>
                </nav>
                <div class="border d-flex flex-row bd-highlight mb-3 justify-content-center align-items-center flex-wrap">
                    <img src="/static/img/recently%20added/pexels-photo-1148820.jpeg" class="img-list-item img-thumbnail m"
                         alt="123">
                    <img src="/static/img/recently%20added/pexels-photo-1332373.jpeg" class="img-list-item img-thumbnail m"
                         alt="123">
                    <img src="/static/img/recently%20added/pexels-photo-1521306.jpeg" class="img-list-item img-thumbnail m"
                         alt="123">
                    <img src="/static/img/recently%20added/pexels-photo-380768.jpeg" class="img-list-item img-thumbnail m" alt="123">
                    <img src="/static/img/recently%20added/pexels-photo-712786.jpeg" class="img-list-item img-thumbnail m" alt="123">
                    <img src="/static/img/recently%20added/pexels-photo-748777.jpeg" class="img-list-item img-thumbnail m" alt="123">
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col">
                <nav class="navbar navbar-dark bg-dark">
                    <span class="navbar-brand mb-0 h1">Popular</span>
                </nav>
                <div class="border d-flex flex-row bd-highlight mb-3 justify-content-center align-items-center flex-wrap">
                    <img src="/static/img/popular/pexels-photo-1161682.jpeg" class="img-list-item img-thumbnail m" alt="123">
                    <img src="/static/img/popular/pexels-photo-1494708.jpeg" class="img-list-item img-thumbnail m" alt="123">
                    <img src="/static/img/popular/pexels-photo-260689.jpeg" class="img-list-item img-thumbnail m" alt="123">
                    <img src="/static/img/popular/pexels-photo-701449.jpeg" class="img-list-item img-thumbnail m" alt="123">
                    <img src="/static/img/popular/pexels-photo-840326.jpeg" class="img-list-item img-thumbnail m" alt="123">
                    <img src="/static/img/popular/pexels-photo-939962.jpeg" class="img-list-item img-thumbnail m" alt="123">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

