{% extends "template.njk" %}

<!-- author: XiaoQian Huang xhuang8@mail.sfsu.edu -->
{% block title %}

{% endblock %}

{% block container %}
    <div class="container">
        <!--product page-->
        <br>

        <div class="row">
            <div class="col col-md-4 mx-auto text-center">
                <h1 class="product-name">
                    <a href="#" class="text-capitalize">Product name
                    </a>
                </h1>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4 mx-auto text-center">
                <h5 class="text-capitalize text-muted">sold by: <a href="#" class="text-muted text-capitalize">user</a></h5>
            </div>
        </div>


        <div class="row align-items-center">
            <div class="col col-md-4 mx-auto text-center">
                <a href="#"><img src="#" class="post-img w-100"></a>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4 mx-auto text-center">
                <span class="price">$420</span>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4 mx-auto text-left">
                <p class="text-capitalize"><em>description:</em></p>
            </div>
        </div>


        <div class="row align-items-center">
            <div class="col col-md-4 mx-auto text-center">
                <div class="jumbotron w-100">
                    <p>This is product's description.</p>
                </div>
            </div>
        </div>


        <div class="row align-items-center">
            <div class="col col-md-4 mx-auto text-center">
                <button type="button" class="btn btn-light w-100">
                    <a href="#" class="text-capitalize">contact  seller</a>
                </button>
            </div>
        </div>

        <br>

        <div class="row align-items-center">
            <div class="col col-md-4 mx-auto text-center">
                <button type="button" class="btn btn-light w-100">
                    <a href="#" class="text-capitalize icon-bookmark">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        bookmark</a>
                </button>
            </div>
        </div>

    </div>
{% endblock %}