{% extends "template.njk" %}

{% block title %}
{# Displays the name and page number if name is defined #}
- Search {% if name %} "{{ name }}" Page {{page}} {% endif %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="/static/js/search.js"></script>
<script>
    search = {}
    {% if name %}
    search.name = "{{ name }}"
    search.page = "{{ page }}"
    search.sort = "{{ sort }}"
    search.category = "{{ category }}"
    {% endif %}
</script>
{% endblock %}

{% block container %}
<div class="container">
    <!-- Search form -->
    <form action="search" method="get">
        <div id="search-form" class="row">
            <div  class="form-group col-md-6 offset-md-1">
                <input class="form-control" type="text" name="name" title="Product name search" value="{{ name }}">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit" title="Search">Search</button>
            </div>
        </div>
    </form>

    <div class="row justify-content-start">
        <div class="col-lg-8"></div>

        <div class="pages col-lg-4">
            <ol class="list-unstyled list-inline pagination pagination-sm">
                <li class="list-unstyled list-inline pre-pager active"><a href="#" class="previous i-previous text-capitalize">prev</a></li>
                <li class="list-unstyled list-inline current"><a href="#">1</a></li>
                <li class="list-unstyled list-inline"><a href="#">2</a></li>
                <li class="list-unstyled list-inline"><a href="#">3</a></li>
                <li>
                    <a class="next_jump" href="#">...</a>
                </li>
                <li class="list-unstyled list-inline next-pager"><a href="#" class="next i-next text-capitalize">next</a></li>
            </ol>
        </div>
    </div>



    <div class="row justify-content-start">
        <div class="col-lg-4">
            <!-- Number of results -->
            <div class="span8 spacing-none post-result-count">
                <div class="section spacing-small spacing-top-small">
                    <h4><span class="badge badge-secondary post-result-count-text"><span>
                    <span class="text-danger">" "</span>
                    </span>
                </span></h4>
                </div>
            </div>
        </div>

        <div class="col-lg-4"></div>

        <div class="row col-lg-2"><div class="dropdown">
            <button class="btn btn-default dropdown-toggle text-capitalize" type="button" id="menu1" data-toggle="dropdown">filter
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">books</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">pens</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">cellphones</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">headphones</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">laptop</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">calculators</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">sound box</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">draw board</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">TVs</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">printers</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">camera</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">video</a></li>
            </ul>
        </div>
        </div>

        <div class="col-lg-2"><div class="dropdown">
            <button class="btn btn-default dropdown-toggle text-capitalize" type="button" id="menu2" data-toggle="dropdown">sort by
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">new arrivals</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">price (low to high)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">price (high to low)</a></li>
            </ul>
        </div>
        </div>
    </div>


    <div id="posts" class="row justify-content-start">
        <!--posts go here-->
    </div>

</div>
{% endblock %}
