{% extends "template.njk" %}

<!-- author: XiaoQian Huang xhuang8@mail.sfsu.edu -->
{% block title %}
{# Displays the name and page number if name is defined #}
- Search {% if name %} "{{ name }}" Page {{page}} {% endif %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="/static/js/search.js"></script>
<script>
    search = {}
    {% if name %}
    search.name = "{{ name }}"
    search.page = "{{ page }}"
    search.sort = "{{ sort }}"
    search.category = "{{ category }}"
    {% endif %}
</script>
{% endblock %}

{% block container %}
<div class="container">


    <div class="row justify-content-start">
        <div class="col-md-8"></div>

        <div class="col-md-4">
            <a href="#" class="previous i-previous text-capitalize">prev</a>
            &nbsp;&nbsp;
            <a href="#">1</a>
            &nbsp;&nbsp;
            <a href="#">2</a>
            &nbsp;&nbsp;
            <a href="#">3</a>
            &nbsp;&nbsp;
            <a class="#" href="#">...</a>
            &nbsp;&nbsp;
            <a href="#" class="next i-next text-capitalize">next</a>
        </div>
    </div>


    <div class="row justify-content-start">
        <div class="col-md-3">
            <!-- Number of results -->
            <div class="span8 spacing-none post-result-count text-center">
                <div class="section spacing-small spacing-top-small">
                    <p><span class="post-result-count-text"><span><strong>" "</strong></span>
                </span></p>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-3"><!--<div class="dropdown">
            <button class="btn btn-default dropdown-toggle text-capitalize" type="button" id="menu1" data-toggle="dropdown">filter
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">books</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">pens</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">cellphones</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">headphones</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">laptop</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">calculators</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">sound box</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">draw board</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">TVs</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">printers</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">camera</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">video</a></li>
            </ul>
        </div>-->
        </div>

        <div class="col-md-3"><div class="dropdown">
            <button class="btn btn-default dropdown-toggle text-capitalize" type="button" id="menu2" data-toggle="dropdown">sort by
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">new arrivals</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">price (low to high)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="text-capitalize">price (high to low)</a></li>
            </ul>
        </div>
        </div>
    </div>


    <div id="posts" class="row justify-content-start">
        <!--posts go here-->
    </div>

</div>
{% endblock %}
