<html>
<head>
    <title>Gator Trader {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    {% block css %}{% endblock %}
</head>
<body>
<div id="demonstration-warning" class="row">
    <div class="col-lg-8 mx-auto text-center">
        <span class="alert alert-warning">SFSU-Fulda Software Engineering Project CSC 648-848, Fall 2018.  For Demonstration Only</span>
    </div>
</div>
<!-- Search form -->
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle text-capitalize" type="button" id="menu1" data-toggle="dropdown">filter
        <span class="caret"></span></button>
    <ul id="category_menu" class="dropdown-menu" role="menu" aria-labelledby="menu1">
    </ul>
</div>
<form action="search" method="get">
    <div id="search-form" class="row">
        <div  class="form-group col-md-6 offset-md-1">
            <input class="form-control" type="text" name="name" title="Product name search" value="{{ name }}">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit" title="Search">Search</button>
        </div>
    </div>
</form>
{% block container %}{% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/static/js/API.js"></script>
<script src="/static/js/main.js"></script>
{% block js %}{% endblock %}
</html>