<html>
<head>
    <title>Gator Trader {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    {% block css %}{% endblock %}


</head>
<body>


<div class="col-lg-8 mx-auto text-center">
    <span class="alert alert-warning">SFSU-Fulda Software Engineering Project CSC 648-848, Fall 2018.  For Demonstration Only</span>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gator Trader</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline  my-2 my-lg-0 ml-auto" method="get" action="/search">
        <div class="text-center">
            <input class="form-control mx-sm-2 justify-content-center" type="search" placeholder="Search" aria-label="Search" name="name" value ="{{ name }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            {# These URLs should not open new pages, get rid of target="_blank". We only do that for products. #}
            <li class="nav-item active">

                <a class="nav-link" href="/createPost">Create Post <span class="sr-only">(current)</span></a>
            </li>

            {# If logged in, display account and logout page #}
            {% if user %}
                <li class="nav-item active">
                    <a class="nav-link" href="/account">Account ({{ user.first_name }})<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/api/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/register">Sign Up <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/login">Sign In <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}


        </ul>

    </div>
</nav>








{% block container %}{% endblock %}
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130774749-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130774749-1');
</script>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/static/js/API.js"></script>
<script src="/static/js/main.js"></script>
{% block js %}{% endblock %}


<footer class="footer font-small purple bg-light">

        <div class="container text-center text-md-left">


            <!-- Footer links -->

            <hr>

            <!-- Grid row -->
            <div class="row d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">

                    <!--Copyright-->
                    <p class="align-middle text-md-left">
                        <a href="/About">
                            <strong> About GatorTrader.com</strong>
                        </a>
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->


        <!-- Footer Links -->


    <!-- Footer -->
        </div>
</footer>



</html>
