#demonstration-warning{
    padding-top: 14px;
    padding-bottom: 14px;
}

.carousel-inner {
    width: 100%;
    max-height: 450px !important;
}

.mt {
    margin-top: 1.25rem;
}

.m {
    margin: 1rem;
}

.img-list-item {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.post-img-thumb{
    max-height: 300px;
    max-width: 300px;
}

.post-result-count{
    display:none;
}

.card-img-top{
    object-fit: cover;
    height: 200px;
}

.post-img{
    max-height: 500px;
    max-width: 500px;
}

.account-img{
    max-width: 300px;
    max-height: 300px;
}

.createPostContainer{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

button.link  {
    background:none;border:none;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
}